* {
  font-family: 'NanumMiNiSonGeurSsi';
}

.pageTitle {
  width: 100vw;
  height: auto;
  
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  text-align: center;
}

.pageTitle > h1 {
  font-size: 3rem;
  margin: 0px;
}

.pageMain {
  width: 100vw;
  height: 80vw;

  padding-top: 1rem;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.pageFooter {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  border-top: 0.1rem solid #cfcfcf;
  width: 100vw;
  height: auto;
  font-size: 1.25rem;
}

.cousor{
  border: 1px solid rgba(58, 58, 58, 0.35);
  background: rgba(255, 255, 255, 0);
  position: fixed;
  z-index: 9;
  height: 5px;
  width: 5px;
  cursor: none;
  pointer-events:none;
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  position: fixed;
  overflow-y: hidden;
}
