.pageTitle {
  width: 100dvw;
  height: auto;
  
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  text-align: center;
}

.pageTitle > h1 {
  font-size: 3rem;
  margin: 0px;
}

.pageMain {
  width: 100dvw;
  height: 100dvh;

  padding-top: 1rem;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.pageFooter {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  border-top: 0.1rem solid #cfcfcf;
  width: 100dvw;
  height: auto;
  font-size: 1.25rem;
}

.cousor{
  border: 1px solid rgba(58, 58, 58, 0.35);
  background: rgba(255, 255, 255, 0);
  position: fixed;
  z-index: 9;
  height: 5px;
  width: 5px;
  cursor: none;
  pointer-events:none;
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  position: fixed;
}

.toggle {
  width: 40dvw;
  height: 4rem;

  border-radius: 1rem;
  border: #545454 2px solid;
  background-color: #cfcfcf;

  font-size: 1.5rem;
  font-weight: 700;

  top: 2.5dvh;
  left: 30dvw;

  position: fixed;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .cousor {
    display: none;
  }
}

@media screen and (min-width : 768px) {
  .cousor {
    display: block;
  }
}

@keyframes hoverWidth {
  0% { 
    width: 1.25rem;
    background-color: #cfcfcf;
  }
  100% { 
    width: 2.5rem;
    background-color: #818181;
  }
}

@keyframes hoverHight {
  0% { 
    height: 1.25rem;
    background-color: #cfcfcf;
  }
  100% { 
    height: 2.5rem;
    background-color: #818181;
  }
}
