.canvasWrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  overflow-x: scroll;
  overflow-y: scroll;
}

.canvas {
  width: 2048px;
  height: 2048px;
  outline: 0.25rem solid #d1cbcb;
  cursor: none;
  touch-action: none;
}