.canvasWrapper {
  width: calc(2048px + 0.5rem);
  height: calc(2048px + 0.5rem);

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  overflow-x: hidden;
  overflow-y: hidden;
}

.canvas {
  width: 2048px;
  height: 2048px;
  outline: 0.25rem solid #d1cbcb;
  cursor: none;
  touch-action: none;
}