.toggle {
  width: 40dvw;
  height: 4rem;

  border-radius: 1rem;
  border: #545454 2px solid;
  background-color: #cfcfcf;

  font-size: 1.5rem;
  font-weight: 700;

  top: 2.5dvh;
  left: 30dvw;

  position: fixed;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}