.sideButton {
  position: fixed;
  left: 0px;
  top: calc(50dvh - 2rem);
  z-index: 10;
  height: 4rem;
  width: 1rem;
  background-color: #cfcfcf;

  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 1rem;
}

.shortcut {
  position: fixed;
  left: calc(50dvw - 6rem);
  top: calc(100dvh - 5rem);

  height: 3rem;
  width: 12rem;

  border-top: 2px #b2b0b0 solid;
  border-left: 2px #b2b0b0 solid;
  border-right: 0px;
  border-bottom: 2px #b2b0b0 solid;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  align-items: center;
}

.shortcutButton {
  width: 3rem;
  height: 3rem;

  border: 0px;
  border-right: 2px #b2b0b0 solid;

  color: #b2b0b0;

  background-color: rgba(255, 255, 255, 1);
}

.shortcutButton:hover{
  color: #212121;
  background: #b2b0b0;
}

.shortcutButton:active{
  color: #212121;
  background: #b2b0b0;
}

.shortcutButton_active {
  color: #545454;
  background: #b2b0b0;
}

@media screen and (max-width: 767px) {
  .sideButton {
    left: 2rem;
    top: 0px;

    height: 1rem;
    width: 4rem;
  
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  .sideButton:hover {
    animation-name: hoverHight;
    animation-duration: 0.25s;
    animation-fill-mode: both;
  }

  .shortcut {
    border-right: 2px #b2b0b0 solid;
  }
}

@media screen and (min-width : 768px) {
  .sideButton:hover {
    animation-name: hoverWidth;
    animation-duration: 0.25s;
    animation-fill-mode: both;
  }
}