.sideBack {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  display: flex;
  justify-items: center;
  justify-content: center;
  text-align: center;
  width: 100dvw;
  height: 100dvh;
  background: rgba(0,0,0,0.425);
}

.side {
  width: calc(100dvw - 5rem);
  max-width: 320px;

  height: calc(90dvh - 1rem);

  background: rgb(249, 249, 251);
  border-radius: 1rem;
  box-shadow: 10px 10px 20px rgba(159, 159, 159);

  position: fixed;
  left: 1rem;
  top: calc(5dvh - 1rem);
  z-index: 20;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  align-items: center;
}

.sideTool {
  width: 100%;
  height: auto;
  border-radius: 1rem;

  padding: 1rem;
  margin-bottom: 1rem;

  background-color: #EDEEF4;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  align-items: start;
}

.toolDiv {
  width: 100%;
  height: 3rem;

  border: 2px rgb(123, 126, 132) solid;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  align-items: center;
}

.toolButton, .brashSize {
  width: 3rem;
  height: 3rem;

  font-weight: 500;

  padding: 2px;

  border: 0px;
  border-right: 2px rgb(123, 126, 132) solid;

  background: rgba(0, 0, 0, 0);
  color: rgb(123, 126, 132);
  fill: rgb(123, 126, 132);

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}


.toolButton:hover, .brashSize:hover{
  color: #212121;
  fill: #212121;
  background: rgb(123, 126, 132);
}

.toolButton:active, .brashSize:active{
  color: #212121;
  fill: #212121;
  background: rgb(123, 126, 132);
}

.btn_active {
  color: #EDEEF4;
  fill: #EDEEF4;
  background: rgb(123, 126, 132);
}

.historyButton {
  width: 3rem;
  height: 3rem;

  border: 0px;
}

.historyButton:hover{
  opacity: 0.65;
}

.sideCloseButton {
  position: fixed;
  left: calc(320px + 1rem);
  top: calc(50dvh - 2rem);
  z-index: 30;
  height: 4rem;
  width: 1rem;
  background-color: rgb(123, 126, 132);

  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 1rem;
}

@media screen and (max-width: 767px) {
  .side {
    height: calc(90dvh - 3rem);
  }
  
  .sideCloseButton {
    left: 2rem;
    top: calc(95dvh - 2rem);

    height: 1rem;
    width: 4rem;
  
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  .sideCloseButton:hover {
    animation-name: hoverHight;
    animation-duration: 0.25s;
    animation-fill-mode: both;
  }
}

@media screen and (min-width : 768px) {
  .sideCloseButton:hover {
    animation-name: hoverWidth;
    animation-duration: 0.25s;
    animation-fill-mode: both;
  }
}