.user {
  width: 100%;
  height: auto;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  align-items: center;
}

.total {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  text-align: start;
  width: 100%;

  border-bottom: #000000 2px solid;
}

.info {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: start;
  width: 100%;
}